#social-media {
  text-align: center;
}

#social-media i {
  margin: 15px 7px;
}

#social-media a {
  transition: color .25s;
}

#social-media a:hover {
  text-decoration: none;
  color: #000;
}

.resume-section {
  font-size: .9em;
}

.resume-section h2 {
  /*margin-bottom: -15px;
  /*color: #90a959;*/
}

.resume-section h3 {
  margin-bottom: 0px;
  font-size: 1.3em;
}

.resume-section ul {
  margin-top: -10px;
}

#copyright-tag {
  font-size: .9em;
}

/* #517847; */
